= simple_form_for @club, html: { class: 'form-horizontal' } do |f|
  = f.input :club_name
  = f.input :period1
  = f.input :period2
  = f.input :period3
  = f.input :period4
  = f.select(:league_id, League.all.map{ |l| [l.league_name, l.id] }, include_blank: true)
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), clubs_path, class: 'btn'
