= form_for @club, html: { class: 'form-horizontal' } do |f|
  = render "layouts/error_messages", target: @club
  .control-group
    = f.label I18n.t('.club.club_name')
    = f.text_field :club_name
  .control-group
    = f.label "#{I18n.t('.club.period')}1"
    = f.text_field :period1, class: 'input-mini'
  .control-group
    = f.label "#{I18n.t('.club.period')}2"
    = f.text_field :period2, class: 'input-mini'
  .control-group
    = f.label "#{I18n.t('.club.period')}3"
    = f.text_field :period3, class: 'input-mini'
  .control-group
    = f.label "#{I18n.t('.club.period')}4"
    = f.text_field :period4, class: 'input-mini'
  .control-group
    = f.label I18n.t('.league.name')
    = f.select(:league_id, League.all.map{ |l| [l.league_name, l.id] }, { include_blank: true })
  .control-group
    .controls
      = f.submit(value: I18n.t('.general.save'), class: 'btn')
      = link_to t('.cancel', default: t("helpers.links.cancel")), clubs_path, class: 'btn'