.row
  .span12
    .page-header
      %h1= I18n.t('.club.overview')

.row-fluid
  .span8.offset1
    .club_details.hero-unit
      .span6
        %ul
          %li= "#{I18n.t('.club.club_name')}:"
          %li= "#{I18n.t('.league.name')}:"
          %li= "#{I18n.t('.club.value_period')}1:"
          %li= "#{I18n.t('.club.value_period')}2:"
          %li= "#{I18n.t('.club.value_period')}3:"
          %li= "#{I18n.t('.club.value_period')}4:"
      .span6
        %ul
          %li= @club.club_name
          %li= @club.league.league_name
          %li= @club.period1
          %li= @club.period2
          %li= @club.period3
          %li= @club.period4
      .clearfix

.row
  .span12
    .page-header
      %h1= I18n.t('.club.points_scored')
    %p= I18n.t('.club.points_explanation')

.row
  .span12
    = content_tag :div, "", id: "scores_chart", data: { scores: graph_club_scores_data(@club) }