.row
  .span12
    .page-header
      %h1= "#{I18n.t('.ranking.gameround_ranking')}: #{@current_gameround.number} (#{@current_gameround.start_date.strftime('%d-%m-%Y')} - #{@current_gameround.end_date.strftime('%d-%m-%Y')})"

    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('.ranking.position')
          %th= I18n.t('.ranking.team')
          %th= I18n.t('.ranking.total_score')
          %th= I18n.t('.ranking.used_jokers')
      %tbody
        - nr = 1
        - @gameround_rankings.each do |ranking|
          %tr
            %td= "#{nr}."
            %td= ranking.user.team_name
            %td= ranking.total_score
            %td= ranking.user.jokers.where(gameround_id: ranking.gameround_id).size
          - nr += 1

.row
  .span12
    .page-header
      %h1= I18n.t('.ranking.general_ranking')

    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('.ranking.position')
          %th= I18n.t('.ranking.team')
          %th= I18n.t('.ranking.total_score')
      %tbody
        - nr = 1
        - @general_rankings.each do |ranking|
          %tr
            %td= "#{nr}."
            %td= User.find(ranking[0]).team_name
            %td= ranking[1]
          - nr += 1