.row
  .span12
    .page-header
      %h1= I18n.t('.ranking.period_ranking')

.row
  .offset4.span4
    = render "periods/period", period: Period.find(@settings.current_period)

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('.ranking.position')
          %th= I18n.t('.ranking.team')
          %th= I18n.t('.ranking.total_score')
      %tbody
        - nr = 1
        - @period_rankings.each do |ranking|
          - user = User.find(ranking[0])
          %tr
            %td= "#{nr}."
            %td= link_to user.team_name, user_path(user)
            %td= ranking[1]
          - nr += 1
      %thead
        %tr
          %th{ colspan: 3 }
