= form_for @newsitem do |f|
  = f.hidden_field :user_id, value: current_user.id
  = render "layouts/form_field", type: 'text_field', f: f, data: :title_nl,   label: I18n.t('.news.title_nl'), size: 'input-xxlarge'
  = render "layouts/form_field", type: 'text_field', f: f, data: :title_en,   label: I18n.t('.news.title_en'), size: 'input-xxlarge'
  = render "layouts/form_field", type: 'text_area', f: f, data: :content_nl,  label: I18n.t('.news.content_nl')
  = render "layouts/form_field", type: 'text_area', f: f, data: :content_en,  label: I18n.t('.news.content_en')
  = f.label I18n.t('.news.publish')
  = f.collection_select :publish, [[true, I18n.t('.general.yep')] ,[false, I18n.t('.general.nope')]], :first, :last
  .form-actions
    = f.button :submit, value: I18n.t('.general.save'), class: 'btn'
    = link_to t('.cancel', default: t("helpers.links.cancel")), newsitems_path, class: 'btn'
