- newsitems.each do |newsitem|
  .media
    %a.pull-left{href: "#"}
      %img.media-object{"data-src" => "holder.js/64x64"}/
    .media-body
      %h4.media-heading
        - if current_user.language == 'nl'
          = newsitem.title_nl
          - if current_user.admin?
            - if newsitem.publish
              %span.label.label-success= I18n.t('.news.published_true')
            - else
              %span.label= I18n.t('.news.published_false')
        - else
          = newsitem.title_en
      .subtitle
        = "#{newsitem.comments.size} #{I18n.t('.news.comments')}"
        = " - #{I18n.t('.news.published_by1')} "
        = link_to newsitem.user.full_name, user_path(newsitem.user)
        = " #{I18n.t('.news.published_by2')} #{newsitem.created_at.strftime('%d-%m-%Y @ %H:%M')}"
      %p
        - if current_user.language == 'nl'
          = "#{newsitem.summary_nl} "
        - else
          = "#{newsitem.summary_en} "
        = link_to I18n.t('news.more_details'), newsitem_path(newsitem)
        = "..."