.row
  .span12.media
    %p= link_to  I18n.t('.news.back'), newsitems_path
    - if current_user.language == 'nl'
      %h1= @newsitem.title_nl
    - else
      %h1= @newsitem.title_en
    .subtitle
      = "#{I18n.t('.news.published_by1')} "
      = link_to @newsitem.user.full_name, user_path(@newsitem.user)
      = " #{I18n.t('.news.published_by2')} #{@newsitem.created_at.strftime('%d-%m-%Y @ %H:%M')}"
    %p
      - if current_user.language == 'nl'
        = @newsitem.summary_nl
        .content= @newsitem.content_nl
      - else
        = @newsitem.summary_en
        .content= @newsitem.content_en
    - if can? :edit, Newsitem
      .btn.btn-mini= link_to I18n.t('.general.edit'), edit_newsitem_path(@newsitem)

.row
  .span12
    %h4= "#{I18n.t('.news.comments')} (#{@newsitem.comments.size})"
    = render "comments/comments"
    = render "comments/form"