= form_for @league, html: { class: 'form-horizontal' } do |f|
  = render "layouts/error_messages", target: @league
  .control-group
    = f.label I18n.t('.league.league_name')
    = f.text_field :league_name
  .control-group
    = f.label I18n.t('.league.league_short')
    = f.text_field :league_short
  .control-group
    = f.label I18n.t('.league.level')
    = f.text_field :level
  .control-group
    .controls
      = f.submit(value: I18n.t('.general.save'), class: 'btn')
      = link_to t('.cancel', default: t("helpers.links.cancel")), leagues_path, class: 'btn'
