#comments
  - @comments.each do |comment|
    .comment
      .subtitle
        = "#{I18n.t('.news.published_by1')} "
        = link_to comment.commentable.user.full_name, user_path(comment.commentable.user)
        = " #{I18n.t('.news.published_by2')} #{comment.created_at.strftime('%d-%m-%Y @ %H:%M')}"
      = comment.content