= form_for @gameround, html: { :class => 'form-horizontal' } do |f|
  = render "layouts/error_messages", target: @gameround
  = f.hidden_field :processed, value: false
  .control-group
    = f.label I18n.t('.period.period_name')
    = f.select(:period_id, Period.all.map{ |p| [p.full_name, p.id] }, { include_blank: true })
  .control-group
    = f.label I18n.t('.period.period_name')
    = f.text_field :number
  .control-group
    = f.label I18n.t('.period.start_date')
    = f.date_select :start_date, include_blank: true
  .control-group
    = f.label I18n.t('.period.end_date')
    = f.date_select :end_date, include_blank: true
  .control-group
    .controls
      = f.submit(value: I18n.t('.general.save'), class: 'btn')
      = link_to t('.cancel', default: t("helpers.links.cancel")), gamerounds_path, class: 'btn'