- if can? :create, Gameround
  = link_to t('.new', default: t("helpers.links.new")), new_gameround_path, class: 'btn'

- model_class = Gameround
.row
  .span12
    .page-header
      %h1=t '.title', default: model_class.model_name.human.pluralize
    %table.table.table-striped
      %thead
        %tr
          %th= model_class.human_attribute_name(:number)
          %th= model_class.human_attribute_name(:start_date)
          %th= model_class.human_attribute_name(:end_date)
          %th= model_class.human_attribute_name(:processed)
          - if can? :update, Gameround
            %th=t '.actions', default: t("helpers.actions")
      %tbody
        - @gamerounds.each do |gameround|
          %tr
            %td= gameround.number
            %td= gameround.start_date.strftime("%d-%m-%Y")
            %td= gameround.end_date.strftime("%d-%m-%Y")
            %td= markup_boolean(gameround.processed)
            - if can? :update, Gameround
              %td
                = link_to t('.edit', default: t("helpers.links.edit")), edit_gameround_path(gameround), class: 'btn btn-mini'
                = link_to t('.destroy', default: t("helpers.links.destroy")), gameround_path(gameround), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'

    = will_paginate @gamerounds