.row
  .offset1.span10
    = form_for @visit, html: { class: "form-horizontal"} do |f|
      = render "layouts/error_messages", target: @visit
      = f.hidden_field :user_id, value: current_user.id
      .control-group
        = f.label I18n.t('.visit.form.visit_nr')
        = f.text_field :visit_nr, class: "input-mini", value: @visit_nr
      .control-group
        = f.label I18n.t('.visit.form.visit_date')
        = f.date_select :visit_date, include_blank: true, start_year: 50.years.from_now
      .control-group
        = f.label I18n.t('.visit.form.league')
        = f.text_field :league, class: "input-xlarge", placeholder: 'The Championship'
      .control-group
        = f.label I18n.t('.visit.form.home_club')
        = f.text_field :home_club, class: "input-xlarge", placeholder: 'Charlton Athletic'
      .control-group
        = f.label I18n.t('.visit.form.away_club')
        = f.text_field :away_club, class: "input-xlarge", placeholder: 'Millwall'
      .control-group
        = f.label I18n.t('.visit.form.season')
        = f.text_field :season, class: "input-medium", placeholder: '2012-2013'
      .control-group
        = f.label I18n.t('.visit.form.result')
        = f.text_field :result, class: "input-small", placeholder: '2-1'
      .control-group
        = f.label I18n.t('.visit.form.kickoff')
        = f.text_field :kickoff, class: "input-small", placeholder: '15:00'
      .control-group
        = f.label I18n.t('.visit.form.gate')
        = f.text_field :gate, class: "input-small", placeholder: '19645'
      .control-group
        = f.label I18n.t('.visit.form.ground')
        = f.text_field :ground, class: "input-xlarge", placeholder: 'The Valley'
      .control-group
        = f.label I18n.t('.visit.form.street')
        = f.text_field :street, class: "input-xlarge", placeholder: 'Floyd Road'
      .control-group
        = f.label I18n.t('.visit.form.city')
        = f.text_field :city, class: "input-xlarge", placeholder: 'London'
      .control-group
        .submit
          = f.submit(class: 'btn', value: I18n.t('.general.save'))
