.row
  .span12
    .page-header
      - if params[:user]
        %h1= I18n.t('.visit.visit_title', team: User.find(params[:user]).team_name)
      - else
        %h1= I18n.t('.visit.my_visits_title')

    - if can? :create, Visit and params[:user].blank?
      .action= link_to I18n.t('.new', default: I18n.t("helpers.links.new")), new_visit_path, class: 'btn'

.row
  .span12
    %p= I18n.t('.visit.details.intro', number: current_user.visits.size)

.row
  .span12
    %ul#myTab.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#listTab"}= I18n.t('.visit.list')
      %li
        %a{"data-toggle" => "tab", href: "#mapTab"}= I18n.t('.visit.map')
    #myTabContent.tab-content
      #listTab.tab-pane.fade.in.active
        = render "visit_list"
      #mapTab.tab-pane.fade
        - if @map_visits.blank?
          %p= I18n.t('.visit.map')
        - else
          = gmaps("map_options" => {"zoom" => 6}, "markers" => { "data" => @map_visits })


