.row
  .span12
    %p= link_to I18n.t('.visit.details.back'), :back

.row-fluid
  .span10.offset1.club_details
    .span12
      .title= I18n.t('.visit.details.match_details')
    .hero-unit
      .span4
        %ul
          %li= "#{I18n.t('.visit.form.visit_nr')}:"
          %li= "#{I18n.t('.visit.form.league')}:"
          %li= "#{I18n.t('.visit.details.match')}:"
          %li= "#{I18n.t('.visit.form.result')}:"
          %li= "#{I18n.t('.visit.form.gate')}:"
          %li= "#{I18n.t('.visit.form.visit_date')}:"
          %li= "#{I18n.t('.visit.form.kickoff')}:"
          %li= "#{I18n.t('.visit.form.ground')}:"
          %li= "#{I18n.t('.visit.details.location')}:"
      .span8
        %ul
          %li
            = @visit.visit_nr.blank? ? "-" : @visit.visit_nr
            \/
            = current_user.visits.size
          %li= @visit.league.blank? ? "-" : @visit.league
          %li
            = @visit.home_club.blank? ? "-" : @visit.home_club
            v
            = @visit.away_club.blank? ? "-" : @visit.away_club
          %li= @visit.result.blank? ? "-" : @visit.result
          %li= @visit.gate.blank? ? "-" : @visit.gate
          %li= @visit.visit_date.blank? ? "-" : @visit.visit_date.strftime("%d-%m-%Y")
          %li= @visit.kickoff.blank? ? "-" : @visit.kickoff
          %li= @visit.ground.blank? ? "-" : @visit.ground
          %li= "#{@visit.street}, #{@visit.city}, #{@visit.country}"
      .offset4.span5
        - if can? :edit, Visit && current_user != params[:user]
          .btn= link_to I18n.t('.general.edit'), edit_visit_path(@visit)
          .btn= link_to I18n.t('.destroy', default: t("helpers.links.destroy")), visit_path(@visit), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }
      .clearfix

