.row
  .span12
    %h1= I18n.t('score.calculate')

- if can? :calculate, Score
  .row
    .span12
      = form_tag( url: calculate_scores_path ) do
        = select_tag 'gameround_id', options_for_select(Gameround.active.map{ |g| ["#{g.number} - #{g.start_date.strftime('%d-%m-%Y')}", g.id] }, include_blank: true)
        = submit_tag :submit, class: 'btn-primary'