.row
  .span12
    = render("shared/gameround_selector", title: I18n.t('score.my_scores'), intro: I18n.t('score.intro'), target: scores_path)

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('club.club')
          %th= I18n.t('score.match')
          %th= I18n.t('score.result')
          %th= I18n.t('score.score')
          %th= I18n.t('score.joker?')
      %tbody
        - total = 0
        - @scores.each do |score|
          - total += score.score
          - result = Result.where('home_club_id = ? OR away_club_id = ? AND gameround_id = ?', score.club_id, score.club_id, score.gameround_id).first

          %tr
            %td= link_to score.club.club_name, club_path(score.club)
            %td= "#{result.home_club.club_name}-#{result.away_club.club_name}"
            %td= "#{result.home_score}-#{result.away_score}"
            %td= score.score
            - if Joker.jokered?(@current_gameround, current_user.players.where(game_id: @clubs_frenzy_game).first, score.club)
              %td= I18n.t('.general.yep')
            - else
              %td= I18n.t('.general.nope')

      %thead
        %tr
          %th{ colspan: 3 }
          %th= total
          %th

    = will_paginate @scores unless @scores.blank?
