.row
  .span12
    .page-header
      %h1= I18n.t('.period.periods')
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('.period.period_name')
          %th= I18n.t('.period.name')
          %th= I18n.t('.period.start_date')
          %th= I18n.t('.period.end_date')
          - if can? :update, Period
            %th=t '.actions', default: t("helpers.actions")
      %tbody
        - @periods.each do |period|
          %tr
            %td= period.period_nr
            %td= period.name
            %td= period.start_date.strftime("%d-%m-%Y")
            %td= period.end_date.strftime("%d-%m-%Y")
            - if can? :update, Period
              %td
                = link_to t('.edit', default: t("helpers.links.edit")), edit_period_path(period), class: 'btn btn-mini'
                = link_to t('.destroy', default: t("helpers.links.destroy")), period_path(period), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'

    - if can? :create, Period
      = link_to t('.new', default: t("helpers.links.new")), new_period_path, class: 'btn'
