.row
  .span12
    .page-header
      %h1= "#{@total_users} #{I18n.t('.user.title')}"

    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('.user.base_nr')
          %th= I18n.t('.user.team_name')
          %th= I18n.t('.user.full_name')
          %th= I18n.t('.user.created_at')
          - if can? :detroy, User
            %th=t '.actions', default: I18n.t("helpers.actions")
      %tbody
        - @users.each do |user|
          %tr
            %td= "#{user.base_nr}."
            %td= link_to user.team_name, user_path(user)
            %td= user.full_name
            %td= user.created_at.strftime('%d-%m-%Y')
            - if can? :destroy, User
              %td
                = link_to t('.destroy', default: I18n.t("helpers.links.destroy")), user_path(user), method: :delete, data: { confirm: I18n.t('.confirm', default: I18n.t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'

    = will_paginate @users