.row
  .offset2.span9
    .hero-unit.profile
      .header
        .row
          .span8
            %h3.text-center= @user.full_name
        - unless @user.bio.blank?
          .row
            .span8.bio
              %p= @user.bio

      .row_body
        .offset2.span2.profile_image
          = gravatar_for @user

        .span4
          .row
            .span4
              %p= "#{I18n.t(".user.teamname_is")} #{@user.team_name}"
            - unless @user.website.blank?
              .span4
                %p
                  %i.icon-globe
                  = link_to @user.website.split('www.')[1], @user.website, target: "_blank"
            - unless @user.facebook.blank?
              .span4
                %p
                  %i.icon-thumbs-up
                  = link_to @user.facebook, "https://www.facebook.com/#{@user.twitter}", target: "_blank"
            - unless @user.twitter.blank?
              .span4
                %p
                  %i.icon-user
                  = link_to "@#{@user.twitter}", "https://twitter.com/#{@user.twitter}", target: "_blank"
            - unless @club.blank?
              .span4
                %p
                  = "#{I18n.t(".user.favorite_is")} "
                  = link_to @club.club_name, club_path(@club)
            - unless @user.location.blank?
              .span4
                %p= "#{I18n.t(".user.lives_in")} #{@user.location}"
            - unless @user.birth_date.blank?
              .span4
                %p= "#{I18n.t(".user.birth_date_is")} #{@user.birth_date.strftime("%d-%m-%Y")}"
            .span4
              %p= "#{I18n.t(".user.created_at")} #{@user.created_at.strftime("%d-%m-%Y")}"

      - if can? :edit, User and current_user == @user
        .row
          .span6.text-center
            = link_to I18n.t(".user.edit_profile"), edit_user_path(@user), class: 'btn'
      .spacer
