.row
  .offset2.span8
    .hero-unit.profile
      - unless @user.profile
        = render partial: "no_profile", user: @user
      - else
        .profile_header
          .row
            .span6
              %h3.text-center= @user.full_name
          - unless @user.profile.bio.blank?
            .row
              .span6.bio
                %p= @user.profile.bio

        .row.profile_body
          .span3
            %img{ src: image_path('default.jpg'), class: 'profile_image' }
          .span3
            .row
              .span3
                %p
                  %i.icon-envelope
                  = @user.email
              - unless @user.profile.website.blank?
                .span3
                  %p
                    %i.icon-globe
                    = link_to @user.profile.website.split('www.')[1], @user.profile.website, target: "_blank"
              - unless @user.profile.facebook.blank?
                .span3
                  %p
                    %i.icon-thumbs-up
                    = link_to @user.profile.facebook
              - unless @user.profile.twitter.blank?
                .span3
                  %p
                    %i.icon-user
                    = link_to @user.profile.twitter
              .span3
                %p= "#{I18n.t(".profile.favorite_is")} #{@user.profile.favorite_club}"
              .span3
                %p= "#{I18n.t(".profile.lives_in")} #{@user.profile.location}"
              .span3
                %p= "#{I18n.t(".user.created_at")} #{@user.created_at.strftime("%d-%m-%Y")}"

        - if can? :edit, Profile and current_user == @user
          .row
            .span6.text-center
              .btn.btn-success= link_to I18n.t('.profile.edit_profile'), edit_profile_path(@user)
