= simple_form_for @result, html: { class: 'form-horizontal' } do |f|
  = f.select(:club_home_id, Club.all.map{ |c| [c.club_name, c.id] }, include_blank: true)
  = f.select(:club_away_id, Club.all.map{ |c| [c.club_name, c.id] }, include_blank: true)
  = f.input :score_home
  = f.input :score_away
  = f.select(:gameround_id, Gameround.all.map{ |gr| [gr.start_date, gr.id] }, include_blank: true)
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = link_to t('.cancel', default: t("helpers.links.cancel")), results_path, class: 'btn'
