.row
  .span12
    .page-header
      %h1= I18n.t('.result.new')


- if can? :create, Result
  .row
    .span12
      = form_tag scrape_results_path do
        = text_field_tag :iterations, "1", class: "small_text_field"
        = select_tag :league, options_for_select(@leagues.map{ |l| [l.league_name, l.id] })
        = submit_tag :submit, value: I18n.t('.result.scrape'), class: "btn"

    - if @results
      .row
        .span12
          = @results
        //= render partial: "form"
