.row
  .span12
    .page-header
      %h1= I18n.t('.frenzy.about_title')

.row
  .span12
    %h3 Wie zijn wij

.row
  .span12
    %p John is 38 jaar en woont in Eindhoven. Aangezien hij daar op juichafstand van het Philips Stadion woont, noemt hij zich PSV supporter, maar dan de teletekst/leunstoel variant. Zijn echte passe is Brits voetbal en sinds hij eind december 2002 voor het eerst Charlton Athletic bezocht op The Valley, was hij definitief verslaafd. Sindsdien is hij zo'n veertig keer bij The Addicks geweest. Buiten zijn liefde voor Charlton is John ook een Anglofiel en helemaal gek van groundhopping in de UK. Hij bezocht al 200 wedstrijden in Engeland, Schotland, Noord-Ierland en Ierland. Zijn favoriete grounds zijn Hillsborough van Sheffield Wednesday en Cappielow Park van Greenock Morton. De laatste jaren gaat zijn interesse steeds meer uit naar de Non-League, vanwege de typische Britse cultuur die je daar nog aantreft. Ondanks dat hij al veel wedstrijden heeft bezocht, is zijn droom nog niet uitgekomen en dat is een play-off finale van Charlton op Wembley, waarin The Addicks in de laatste minuut de 5-4 maken.

    %p
      Website:
      = link_to "MyGroundhops", "mygroundhops.herokuapp.com", target: 'blank'
      |
      Twitter:
      = link_to "@DutchAddick", "https://twitter.com/DutchAddick", target: 'blank'

.row
  .span12
    %p Joris is 34 jaar en woont in Tilburg. Uiteraard doet hij aan ‘support your local’ en is hij dus groot fan van Willem II. In de UK is hij voor Celtic, maar heeft hij pas een wedstrijd of twintig gezien van The Bhoys. Joris is dan ook meer een groundhopper dan clubfan in de UK, vandaar dat hij al bijna 200 verschillende stadions in de UK heeft gezien en komend seizoen de ‘92’ gaat voltooien. In Engeland volgt hij Sheffield Wednesday met meer dan gemiddelde interesse en voor een groot aantal Non-League clubs heeft hij een zwak, met name Workington en Marlow. Stadions waar hij graag komt zijn Hillsborough, Fratton Park (Portsmouth), Goodison Park (Everton), The Rec (Aldershot) en zo zijn er nog veel meer. Als derbyliefhebber zijn de derby’s van Bristol, Stoke-on-Trent en Ayr v Kilmarnock nog wedstrijden die hij ooit wil zien.

    %p
      Website:
      = link_to "DoingThe116 Blog", "http://doingthe116.wordpress.com/", target: 'blank'
      |
      Twitter:
      = link_to "@DoingThe116", "https://twitter.com/DoingThe116", target: 'blank'