.row
  .span12
    .page-header
      %h1= I18n.t('.frenzy.about_title')

.row
  .span12
    %h2 Waarom de naam "The Old Spotted Dog Frenzy"?

.row
  .span12.about
    .about_section
      %p We zochten de naam van een stadion om voor het woord “Frenzy” neer te zetten. Dan kom je al snel terecht bij de stadions met cultnamen, zoals The Dripping Pan van Lewes, The Giant Axe van Lancaster of The Flying Monk van Malmesbury Victoria, maar de mooiste blijft toch The Old Spotted Dog van Clapton. Daarnaast heeft dat stadion een geschiedenis waar je U tegen zegt en is het vernoemd naar de naastgelegen pub. En wat doe je in pubs buiten boozen? Inderdaad spelletjes. De club, de pub en het stadion hebben het heel zwaar, dus is het wel leuk om wat aandacht aan ze te besteden. Wij hebben namelijk veel sympathie voor de kleine underdog (no pun intended) clubs. Daarom leek de naam “The Old Spotted Dog Frenzy” ons wel heel geschikt. Het lijkt ons ook geweldig om ooit met een aantal deelnemers aan de Frenzy een trip te maken naar Clapton FC en dan The Old Spotted Dog te vincken.

.row
  .span12
    %h2 The Old Spotted Dog

.row
  .span12.about
    .about_section
      %p De pub The Old Spotted Dog is het oudste niet-seculiere gebouw in Newham (Oost-Londen). In de zestiende eeuw was het eigendom van Henry VIII (die van die zes vrouwen) als uitvalsbasis voor zijn jachtactiviteiten. Begin negentiende eeuw werd het een pub. Naast de pub lag een cricketveld. The Old Spotted Dog was een chique pub. In 1888 ging Clapton FC op het veld naast de pub spelen en het stadion kreeg ook de naam The Old Spotted Dog. Het was vroeger een heel aardig stadionnetje. Een van de tribunes had de naam The Dog Kennel Stand, erg mooi. Maar in de loop der jaren is Newham verpauperd en ook het stadion en de pub raakten steeds meer vervallen. In 2004 sloot de pub zijn deuren en met houten platen voor de deuren en ramen, ziet het er helemaal naargeestig uit. Het stadion is er nog wel, maar alle oude tribunes zijn verdwenen en wat er nu staat is een allergaartje. In de pub spuiten junks zich regelmatig vol met heroïne en het stadion wordt door de buurtbewoners gebruikt als sluikstortplaats. Het is eeuwig zonde dat zo’n legendarische pub en stadion zo aan het vervallen zijn.

.row
  .span12
    %h2 Wie zijn wij

.row
  .span12.about
    .about_section
      %p John is 38 jaar en woont in Eindhoven. Aangezien hij daar op juichafstand van het Philips Stadion woont, noemt hij zich PSV supporter, maar dan de teletekst/leunstoel variant. Zijn echte passe is Brits voetbal en sinds hij eind december 2002 voor het eerst Charlton Athletic bezocht op The Valley, was hij definitief verslaafd. Sindsdien is hij zo'n veertig keer bij The Addicks geweest. Buiten zijn liefde voor Charlton is John ook een Anglofiel en helemaal gek van groundhopping in de UK. Hij bezocht al 200 wedstrijden in Engeland, Schotland, Noord-Ierland en Ierland. Zijn favoriete grounds zijn Hillsborough van Sheffield Wednesday en Cappielow Park van Greenock Morton. De laatste jaren gaat zijn interesse steeds meer uit naar de Non-League, vanwege de typische Britse cultuur die je daar nog aantreft. Ondanks dat hij al veel wedstrijden heeft bezocht, is zijn droom nog niet uitgekomen en dat is een play-off finale van Charlton op Wembley, waarin The Addicks in de laatste minuut de 5-4 maken.

      %p
        Website:
        = link_to "MyGroundhops", "mygroundhops.herokuapp.com", target: 'blank'
        |
        Twitter:
        = link_to "@DutchAddick", "https://twitter.com/DutchAddick", target: 'blank'

.row
  .span12.about
    .about_section
      %p Joris is 34 jaar en woont in Tilburg. Uiteraard doet hij aan ‘support your local’ en is hij dus groot fan van Willem II. In de UK is hij voor Celtic, maar heeft hij pas een wedstrijd of twintig gezien van The Bhoys. Joris is dan ook meer een groundhopper dan clubfan in de UK, vandaar dat hij al bijna 200 verschillende stadions in de UK heeft gezien en komend seizoen de ‘92’ gaat voltooien. In Engeland volgt hij Sheffield Wednesday met meer dan gemiddelde interesse en voor een groot aantal Non-League clubs heeft hij een zwak, met name Workington en Marlow. Stadions waar hij graag komt zijn Hillsborough, Fratton Park (Portsmouth), Goodison Park (Everton), The Rec (Aldershot) en zo zijn er nog veel meer. Als derbyliefhebber zijn de derby’s van Bristol, Stoke-on-Trent en Ayr v Kilmarnock nog wedstrijden die hij ooit wil zien.

      %p
        Website:
        = link_to "DoingThe116 Blog", "http://doingthe116.wordpress.com/", target: 'blank'
        |
        Twitter:
        = link_to "@DoingThe116", "https://twitter.com/DoingThe116", target: 'blank'