.row
  .span4
    %ul.nav.nav-list
      %li.nav-header List header
      %li{ class: "#{'active' if params[:section] == 'home'}"}
        = link_to "Home", frenzy_rules_path(section: "home")
      %li{ :class => "#{'active' if params[:section] == 'library'}"}
        = link_to "Library", frenzy_rules_path(section: "library")
      %li
        %a{:href => "#"} Applications
      %li.nav-header Another list header
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Settings
      %li.divider
      %li
        %a{:href => "#"} Help

  .span8
    %p= @content



    %h2 Puntentelling
    %p Voor de Clubs Frenzy geldt de volgende puntentelling:
    %p - 3 punten voor een overwinning van jouw team
    %p - 1 punt voor een gelijkspel van jouw team
    %p - 1 punt per gescoord doelpunt als jouw team thuis speelt
    %p - 2 punten per gescoord doelpunt als jouw team uit speelt
    %p - 1 strafpunt per tegendoelpunt
    %p
      Voorbeeld: Exeter City v Charlton Athletic 6-7: Exeter scoort nu 6 (aantal gescoorde doelpunten, Exeter speelt thuis) - 7 (aantal tegendoelpunten) = -1 punt.
      Charlton scoort nu 3 (winst) + 2*7 (aantal gescoorde doelpunten, Charlton speelt uit dus doelpunten tellen dubbel) - 6 (tegendoelpunten) = 11 punten.

      Clubs Frenzy 2010-2011

      Ook het komende seizoen weer een Clubs Frenzy op Phoenix. Voor deze versie heb ik wat wijzigingen doorgevoerd, omdat vorig jaar bleek dat de bonuspunten en extra jokers het spel er niet beter op maakten. Als je bovenin het klassement stond, dan had je zo'n stortvloed aan punten en jokers te besteden dat het eigenlijk niet leuk was. De kracht van de Clubs Frenzy moet zijn dat je krap in de punten zit en dus ook echt keuzes moet maken. Terug dus naar de oerversie: geen extra jokers en bonuspunten, maar extra waarde kan alleen worden gecreeerd doordat clubs in jouw team stijgen in de table en dus meer waard zijn bij het transfereren.

      De Clubs Frenzy zelf wordt gespeeld via de speciale site www.dutchaddick.com/clubsfrenzy, waar je vanaf nu je team kunt registreren. Tot aan het begin van het seizoen kun je jouw team nog net zo vaak wijzigen als je zelf wilt. Hieronder wordt uitgelegd hoe je het spel speelt, hoe de puntentelling in elkaar steekt en aan welke regels je jezelf moet houden. Veel plezier met de Clubs Frenzy!

      Hoe doe je mee?
      Op www.dutchaddick.com/clubsfrenzy (eerst krijg je een popup window, log hier in met "phoenix92" en "frenzyfrenzy") kun je een team registreren en kies je maximaal 25 clubs in jouw team (minder mag ook) uit de Premier League, Championship, League One, League Two en/of Blue Square Premier League, waarbij er geen beperking is aan het aantal clubs uit een league, dus Premier League fetishisten kunnen hun gang gaan. Elk team heeft een bepaalde waarde aan de hand van de quoteringen bij Ladbrokes. Bij het samenstellen van je team geldt slechts 1 beperking: de totale waarde van je team mag niet meer zijn dan 125 punten. Op de website staat een overzicht van de waarde van de clubs.

      Hoe speel je het spel?
      De basisregels zijn heel simpel. Ieder keer dat een van jouw teams een competitiewedstrijd speelt (bekerwedstrijden en play-offs doen niet mee) kun je op de volgende manier punten scoren:

      3 punten voor een overwinning van jouw team
      1 punt voor een gelijkspel van jouw team
      1 punt per gescoord doelpunt als jouw team thuis speelt
      2 punten per gescoord doelpunt als jouw team uit speelt
      1 strafpunt per tegendoelpunt

      Voorbeeld: Exeter City v Charlton Athletic 6-7
      Exeter scoort nu 6 (aantal gescoorde doelpunten, Exeter speelt thuis) - 7 (aantal tegendoelpunten) = -1 punt.
      Charlton scoort nu 3 (winst) + 2*7 (aantal gescoorde doelpunten, Charlton speelt uit dus doelpunten tellen dubbel) - 6 (tegendoelpunten) = 11 punten.

      Jokers
      Aan het begin van het seizoen krijgt iedere deelnemer 46 jokers. Deze jokers kun je inzetten tijdens een speelronde (maximaal 3 jokers per speelronde) op een club uit jouw team. De score van die club zal vervolgens worden verdubbeld. Let op: ook negatieve scores worden dan verdubbeld! Je mag helemaal zelf weten wanneer je een joker inzet, de enige beperking is dat je maximaal 3 jokers per speelronde kunt inzetten. Jokers kun je zelf op de Frenzy website invoeren bij "Mijn Jokers".

      Transfer Windows
      Tijdens het seizoen zijn er 3 transfer windows waarin je jouw team kunt wijzigen: transfer window 1 is in oktober, transfer window 2 is in januari en transfer window 3 is in maart. De exacte data zullen tijdig en duidelijk bekend worden gemaakt. Aan het begin van een transfer window worden de nieuwe waarden van de clubs bepaald aan de hand van de dan geldende league tables. Iedere club die je wilt vervangen heeft een bepaalde waarde, bepaald aan de hand van de dan geldende league table. Stel jouw club is 9 punten waard, dan mag je de club vervangen voor andere club(s) die maximaal die waarde vertegenwoordigt/en op dat moment. Ook kan het zijn dat je niet je hele budget had opgemaakt, en die punten mag je ook weer gebruiken. Je mag in theorie iedere keer je hele team veranderen, mits de totale teamwaarde maar niet meer is dan 125. Het wijzigen van je team kun je ook zelf doen op de Frenzy website. Transfereren is niet verplicht. In feite hoef je nadat je een team hebt opgegeven helemaal nooit meer wat te doen. Je zult echter niet winnen.

      Overig
      Een speelronde hoeft niet perse overeen te komen met een speelronde volgens het offieciele speelschema. Normaal gesproken zullen alle wedstrijden in een weekend of midweekse speelronde ook een frenzy speelronde zijn, maar als er bv midweeks een aantal inhaalwedstrijden zijn, dan worden deze in de frenzy als aparte speelronde bij elkaar gezet. Dit om de administratieve afhandeling wat eenvoudiger te maken, voor de rest heeft het geen consequenties, behalve op het aantal in te zetten jokers (3 jokers per frenzy speelronde).
      Als er zich een situatie voordoet waarin deze post niet voorziet, dan zal de Frenzy Jury (bestaande uit ondergetekende) een besluit nemen. Uiteraard geheel onpartijdig, onbaatzuchtig en eerlijk