.row
  .span3
    %ul.nav.nav-list
      %li.nav-header= I18n.t('.frenzy.rules.title')
      %li{ class: "#{'active' if params[:section] == 'participation'}"}
        = link_to I18n.t('.frenzy.rules.participation_title'), frenzy_rules_path(section: "participation")
      %li{ class: "#{'active' if params[:section] == 'points'}"}
        = link_to I18n.t('.frenzy.rules.points_title'), frenzy_rules_path(section: "points")
      %li{ class: "#{'active' if params[:section] == 'jokers'}"}
        = link_to I18n.t('.frenzy.rules.jokers_title'), frenzy_rules_path(section: "jokers")
      %li{ class: "#{'active' if params[:section] == 'gamerounds'}"}
        = link_to I18n.t('.frenzy.rules.gamerounds_title'), frenzy_rules_path(section: "gamerounds")
      %li{ class: "#{'active' if params[:section] == 'transfers'}"}
        = link_to I18n.t('.frenzy.rules.transfers_title'), frenzy_rules_path(section: "transfers")
      %li{ class: "#{'active' if params[:section] == 'small'}"}
        = link_to I18n.t('.frenzy.rules.small_title'), frenzy_rules_path(section: "small")

  .span9
    - case params[:section]
    - when 'participation'
      %h3= I18n.t('.frenzy.rules.participation_title')
      %p= I18n.t('.frenzy.rules.intro')
      %p= I18n.t('.frenzy.rules.participation1')
      %p= I18n.t('.frenzy.rules.participation2')
      %p= I18n.t('.frenzy.rules.participation3')
      %p= I18n.t('.frenzy.rules.participation4')
    - when 'points'
      %h3= I18n.t('.frenzy.rules.points_title')
      %p= I18n.t('.frenzy.rules.points1')
      %ul
        %li= I18n.t('.frenzy.rules.points_score1')
        %li= I18n.t('.frenzy.rules.points_score2')
        %li= I18n.t('.frenzy.rules.points_score3')
        %li= I18n.t('.frenzy.rules.points_score4')
        %li= I18n.t('.frenzy.rules.points_score5')
      %p= I18n.t('.frenzy.rules.points_example1_title')
      %pre= I18n.t('.frenzy.rules.points_example1')
      %p= I18n.t('.frenzy.rules.points_example2_title')
      %pre= I18n.t('.frenzy.rules.points_example2')
    - when 'jokers'
      %h3= I18n.t('.frenzy.rules.jokers_title')
      %p= I18n.t('.frenzy.rules.jokers1')
      %p= I18n.t('.frenzy.rules.jokers2')
      %p= I18n.t('.frenzy.rules.jokers3')
      %ul
        %li= I18n.t('.frenzy.rules.jokers_period1')
        %li= I18n.t('.frenzy.rules.jokers_period2')
        %li= I18n.t('.frenzy.rules.jokers_period3')
        %li= I18n.t('.frenzy.rules.jokers_period4')
    - when 'gamerounds'
      %h3= I18n.t('.frenzy.rules.gamerounds_title')
      %p= I18n.t('.frenzy.rules.gamerounds1')
      %p= I18n.t('.frenzy.rules.gamerounds2')
    - when 'transfers'
      %h3= I18n.t('.frenzy.rules.transfers_title')
      %p= I18n.t('.frenzy.rules.transfers1')
      %p= I18n.t('.frenzy.rules.transfers2')
      %p= I18n.t('.frenzy.rules.transfers3')
    - when 'small'
      %h3= I18n.t('.frenzy.rules.small_title')
      %p= I18n.t('.frenzy.rules.small1')
      %p= I18n.t('.frenzy.rules.small2')
      %p= I18n.t('.frenzy.rules.small3')



