// Change password
.row
  .span12
    #clearance.password-reset.signin_container
      %h1= t '.title'
      %p= t '.description'
      = form_for :password_reset, url: user_password_path(@user, token: @user.confirmation_token), html: { class: "form-horizontal", method: :put } do |f|
        = f.password_field :password
        = f.submit(class: 'btn btn-large')
