// Password reset
.row
  .offset3.span6
    #clearance.password-reset.signin_container
      %h1= t '.title'
      %p= t '.description'

      = form_for :password, url: passwords_path, html: { class: "form-horizontal"} do |f|
        = f.text_field :email
        = f.submit(class: 'btn btn-large')
