.button_wrapper
  %button#partial_button.button{type: "button", class: "btn"}= I18n.t('.club.new')

#partial_form{ style: "display:none;" }
  .row
    = form_for @selection, html: { class: "form-horizontal"} do |f|
      .horizontal
        = f.hidden_field :user_id, value: current_user.id
        .control-group
          %label.control-label{:for => "pl"}= I18n.t('.league.name')
          .controls= f.collection_select :league_id, @leagues, :id, :league_name, include_blank: true
        .control-group
          %label.control-label{:for => "pl"}= I18n.t('.club.club')
          .controls= f.grouped_collection_select :club_id, @leagues, :clubs, :league_name, :id, :club_name, include_blank: true
        .control-group
          .controls
            = f.submit(class: 'btn', value: I18n.t('.general.save'))
            %button#partial_cancel.button{type: "button", class: "btn"}= I18n.t('.general.cancel')