.row
  = form_for @selection, html: { class: "form-horizontal"} do |f|
    .horizontal
      = f.hidden_field :user_id, value: current_user.id
      .control-group
        %label.control-label{:for => "pl"}= I18n.t('.league.pl_long')
        .controls= f.select :club_id, @pl_clubs, include_blank: true
      .control-group
        %label.control-label{:for => "ch"}= I18n.t('.league.ch_long')
        .controls= f.select :club_id, @ch_clubs, include_blank: true
      .control-group
        %label.control-label{:for => "l1"}= I18n.t('.league.l1_long')
        .controls= f.select :club_id, @l1_clubs, include_blank: true
      .control-group
        %label.control-label{:for => "l2"}= I18n.t('.league.l2_long')
        .controls= f.select :club_id, @l2_clubs, include_blank: true
      .control-group
        %label.control-label{:for => "cf"}= I18n.t('.league.cf_long')
        .controls= f.select :club_id, @cf_clubs, include_blank: true
      .control-group
        .controls= f.submit(class: 'btn', value: I18n.t('.team.new'))
