.row
  .span12
    %h1= "#{I18n.t('team.my_team')}: #{current_user.team_name}"
    %p= I18n.t('team.intro')

.row
  .span12
    .points_used
      %p= "#{I18n.t('team.used_points1')}: #{@current_teamvalue} #{I18n.t('team.used_points2')} #{$max_teamvalue}"

.row
  .span12
    %table.table.table-striped
      %thead
        %tr
          %th= I18n.t('club.club')
          %th= I18n.t('league.name')
          %th= "#{I18n.t('.period.period_name')} 1"
          %th= "#{I18n.t('.period.period_name')} 2"
          %th= "#{I18n.t('.period.period_name')} 3"
          %th= "#{I18n.t('.period.period_name')} 4"
          - if $participation and can? :create, Selection
            %th= I18n.t('.actions')
      %tbody
        - period1_counter = 0
        - period2_counter = 0
        - period3_counter = 0
        - period4_counter = 0
        - @selections.each do |selection|
          - period1_counter += selection.club.period1
          - period2_counter += selection.club.period2
          - period3_counter += selection.club.period3
          - period4_counter += selection.club.period4
          %tr
            %td= link_to selection.club.club_name, club_path(selection.club)
            %td= selection.club.league.league_short
            %td= selection.club.period1
            %td= selection.club.period2
            %td= selection.club.period3
            %td= selection.club.period4
            - if $participation and can? :destroy, Selection
              %td= link_to t('.destroy', default: t("helpers.links.destroy")), selection_path(selection), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-mini btn-danger'
      %thead
        %tr
          %th
          %th
          %th= period1_counter
          %th= period2_counter
          %th= period3_counter
          %th= period4_counter
          %th

- if (@selections.size == 0 or ($participation and @selections.size < $max_teamsize and @current_teamvalue < $max_teamvalue)) and can? :create, Selection
  .row
    .span12
      = render partial: "add_club"
