- if target.errors.any?
  .errors
    %h4
      - if target.errors.size > 1
        = "#{target.errors.size} #{I18n.t('.general.error_single')}"
      - else
        = "#{target.errors.size} #{I18n.t('.general.error_plural')}"
      = I18n.t('.general.error_text')
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg